.blog {
  padding-left:5rem;
  padding-right:5rem;
  padding-top:2rem;
  padding-bottom:2rem;
  text-align: justify; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */

  }
  .blog .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px; /* Khoảng cách giữa các sản phẩm */

  }
  
  .blog .boxItems {
    /* Thêm các thuộc tính cần thiết cho hiển thị grid */
    display: flex;
    flex-direction: column;
    padding-left: 20px; /* Thêm padding bên trái */
    padding-right: 20px; /* Thêm padding bên phải */
    
    background-color: #f2f2f2; /* Gray background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Add transition for smoother effect */
  }
  
  .blog .boxItems:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjusted box shadow on hover */
    cursor: pointer;
    transform: translateY(-5px);
  }
  
  .blog img {
    /* Chỉnh kích thước ảnh để hiển thị đẹp trên grid */
    height: 200px; /* Hoặc giảm điều chỉnh theo ý bạn */
    margin-bottom: 10px; /* Giảm khoảng cách giữa ảnh và các phần khác */
    margin: auto; /* Căn giữa theo chiều ngang */
    margin-top:10px;
    /* border-radius: 1%; */
    /* max-width: 100%;
    object-fit:contain; */
    display: block;
  }

  
  .blog .boxItems:hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    cursor: pointer;
    transform: translateY(-5px);
  }

  .blog .icon {
    margin-right: 10px;
    font-size: 20px;
  }
  .blog .tag a {
    color: blue;
    opacity: 0.7;
  }
  .blog .tag {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  .blog h3 {
    font-weight: 500;
  }
  .blog p {
    color: #999;
    font-weight: 400;
    margin: 20px 0;
    font-size: 17px;
    line-height: 25px;
  }
  .blog .date {
    display: flex;
    align-items: center;
    margin-bottom:20px;
  }
  .blog .date label {
    display: block;
    margin-right: 20px;
  }
  
  .detail{
    padding-left:5rem;
    padding-right:5rem;
    padding-top:2rem;
    
    
  }
  .detail .text{
    
    padding-bottom:2rem;
    text-align: justify; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    color: #000;
    font-weight: 400;
    margin: 20px 0;
    font-size: 17px;
    line-height: 25px;
    
  }
  .detail h2 {
    font-size: 20px; /* Adjust the font size to your preference */
    line-height: 25px;
    color: #000;
    /* font-weight: 400; */
  }
  .detail h1 {
    text-align: center; /* Căn giữa theo chiều ngang */
    padding-bottom:1rem;
  }
  .detail ul {
    list-style-type: disc; /* or 'circle' or 'square' */
    padding-left: 2rem;
    margin-bottom: 1rem;
  }
  
  .detail li {
    margin-bottom: 0.5rem;
    text-align: justify;
    /* font-size: 20px; */
    line-height: 25px;
    color: #000;
    font-weight: 400;
  }
  .detail ol p {
    list-style-type: decimal; /* Use decimal numbers for the ordered list */
    padding-left: 2rem; /* Adjust the left padding as needed */
    margin-bottom: 1rem; /* Adjust the bottom margin as needed */
   
  }
  
  .detail ol li{
    margin-bottom: 0.5rem;
   
    text-align: justify;
    font-size: 20px; 
    line-height: 25px;
    color: #000;
    font-weight: 400;
  }
  