.blog {
  padding-left:5rem;
  padding-right:5rem;
  padding-top:2rem;
  text-align: justify; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */

  }
  .blog .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px; /* Khoảng cách giữa các sản phẩm */

  }
  
  .blog .boxItems {
    /* Thêm các thuộc tính cần thiết cho hiển thị grid */
    display: flex;
    flex-direction: column;
    padding-left: 20px; /* Thêm padding bên trái */
    padding-right: 20px; /* Thêm padding bên phải */
  }
  
  .blog img {
    /* Chỉnh kích thước ảnh để hiển thị đẹp trên grid */
    height: 200px; /* Hoặc giảm điều chỉnh theo ý bạn */
    margin-bottom: 10px; /* Giảm khoảng cách giữa ảnh và các phần khác */
    margin: auto; /* Căn giữa theo chiều ngang */
  display: block;
  }

  
  .blog .boxItems:hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    cursor: pointer;
    transform: translateY(-5px);
  }

  .blog .icon {
    margin-right: 10px;
    font-size: 20px;
  }
  .blog .tag a {
    color: blue;
    opacity: 0.7;
  }
  .blog .tag {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  .blog h3 {
    font-weight: 500;
  }
  .blog p {
    color: #999;
    font-weight: 400;
    margin: 20px 0;
    font-size: 17px;
    line-height: 25px;
  }
  .blog .date {
    display: flex;
    align-items: center;
  }
  .blog .date label {
    display: block;
    margin-right: 20px;
  }
  