.dropdown-menu {
    background-color: #f2f2f2;
  
    background: transparent;
    margin-left: -40px;
    position: absolute;
    /* top: 80px; */
    list-style: none;
    text-align: start;
    top: 30px;
  }
  
  .dropdown-menu li {
    background-color: #1b1f23;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: #fe5f00;
    transition: 0.2s ease-in-out;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: max-content;
    text-decoration: none;
    color: #f2f2f2;
    padding: 16px;
    font-size:18px;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }

.productdisplay_right_descr{
  letter-spacing: .04rem;
}